body{
    background-color: #0f172a !important;
    color: white !important;
}
nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 100px !important;
    text-decoration: none !important;
}
nav img {
    max-width: 20% !important;
    height: auto !important;
}
nav div ul {
    display: flex !important;
    list-style: none !important;
}
nav div li {
    padding: 0px 25px !important;
}
nav div li a {
    color: white !important;
    cursor: pointer !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0) !important;
    transition: all 0.3s ease-in-out;
}
nav div li a:hover{
    color: #28a66b !important;
}
.container{
    background: #1e293b !important;
    padding: 25px;
    border-radius: 0.5rem;
    margin-bottom: 50px !important;
}
.sidebar,.menu-icon{
    display: none !important;
}
@media (max-width: 1200px) {

    .menu-icon {
      display: block !important;
      font-size: 24px !important;
      cursor: pointer !important;
    }
    .menu-icon {
      font-size: 24px !important;
      cursor: pointer !important;
      color: white !important;
    }
    .sidebar {
      display: block !important;
      position: fixed !important;
      top: 0 !important; 
      right: -300px !important;
      width: 250px !important;
      height: 100% !important;
      background: white !important;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2) !important;
      transition: right 0.3s ease-in-out !important;
      padding: 20px !important;
      z-index: 400 !important;
    }
  
    .sidebar.active {
      right: 0 !important;
    }
  
    .close-btn {
      text-align: right !important;
      font-size: 24px !important;
      cursor: pointer !important;
      color: black !important; 
      margin-top: 20px !important;
    }
    .menu-container{
      display: none !important;
    }
    .nav-links2 {
      list-style: none !important;
      padding: 20px 0 !important;
    }
    .nav-links2 li {
      padding: 10px 0 !important;
      border-bottom: 1px solid #ddd !important;
      text-align: right !important;
      transition: all 0.2s !important;
  
    }
    .nav-links2 a {
      text-decoration: none !important;
      color: black !important;
      font-weight: bolder !important;
      font-size: 18px !important;
      transition: all 0.3s ease-in-out !important;
    }
    .nav-links2 a:hover {
      color: #007740 !important;
    }
  }
